@model IEnumerable<PWEB_TP_A_M.Models.Testes>

@{
    ViewData["Title"] = "Index";
}

<a class="text-black">
    <h3>Testes</h3>
</a>
<p>
    <a asp-action="Create" style="color:cyan-black">Criar novo teste</a>
</p>
<table class="table table-bordered">
    <thead class="border-1 table-bordered text-black-50" style="background-color:#98bac6">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TipoTeste)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeTeste)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resultado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.TipoTeste)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NomeTeste)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Resultado)
    </td>
    <td>
        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
    </td>
</tr>}
    </tbody>
</table>
