@model PWEB_TP_A_M.Models.Gestores

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Gestores</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Centro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Centro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CentroId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CentroId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
