@model IEnumerable<PWEB_TP_A_M.Models.CentroTeste>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vagas)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Localidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Horario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LimTestes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tecnico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Analises)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocalidadeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TecnicosId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vagas)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Localidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Horario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LimTestes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tecnico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Analises.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocalidadeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TecnicosId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
